<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121749542618-0vj75dnv7pva07mi8eoa88pblof20ugn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121749542618-0vj75dnv7pva07mi8eoa88pblof20ugn</string>
	<key>API_KEY</key>
	<string>AIzaSyCDjXJNYGLu4mtX-BcyAMoXREsnceKr5ao</string>
	<key>GCM_SENDER_ID</key>
	<string>121749542618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Main.ToDoFire</string>
	<key>PROJECT_ID</key>
	<string>todofire-6f960</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-6f960.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121749542618:ios:e4c64a6307bcf5dd</string>
	<key>DATABASE_URL</key>
	<string>https://todofire-6f960.firebaseio.com</string>
</dict>
</plist>